
.container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #caf0f8;
    align-items: center;
    
}
