
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: pink;
    padding: 1em;
    display: inline-block
    
}


.list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    
}


.item{
    margin-right: 1em;
    color: #240046;
    font-weight: bold;
    padding: .7em;
    border-radius: 0;
}

.logo{
    width: 300px;
}