.avaliarProduto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}
.avaliarProduto h1{
    color: #240046
}
.avaliarProduto h2{
    color: #240046
}