.register{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.register label{
    padding: .7em;
    border-radius: 0;
    border: none;
    color: #000154;
    font-weight: bold;
}

.register input{
    padding: 10px;
    width: 1000px;
}

.register input::placeholder{
    color: violet;
}