
.select{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.select label{
    padding: .7em;
    border-radius: 0;
    border: none;
    color: #240046;
    font-weight: bold;
}

.select select{
    width: 1000px;
    padding: 10px;
    border-radius: 0;
    
    /* border: none; */
    color: purple;
}
