.bookCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    border-radius: 5px;
    background-color: palevioletred;
    border: 1px solid purple;
    font-family: Helvetica;
}

.produto{
    font-size: 12px;
}

.ean{
    font-size: 10px;    
}

.avalie{
    width: 90px;
    border-radius: 5px;
}
